<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>
<div class="list card">
   <ion-item class="profile-item">

    <ion-grid >
      <ng-container *ngIf="user">
        <img src="{{user.profilePic}}">
        <ion-row >
          <ion-col col-2>First Name:</ion-col>
          <ion-col col-2>{{user.firstName}}</ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-2>Last Name:</ion-col>
          <ion-col col-2>{{user.lastName}}</ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-2>User Name:</ion-col>
          <ion-col col-2>{{user.username}}</ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-2>User Email:</ion-col>
          <ion-col col-2>{{user.email}}</ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-2>User Phone:</ion-col>
          <ion-col col-2>{{user.phone}}</ion-col>
        </ion-row>
    </ng-container>
    </ion-grid>
  </ion-item> 
</div>
<ion-content>

</ion-content>