<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div id="container">
    <ion-button  routerLink="/login" routerDirection="root">
      Login
    </ion-button>
    <ion-button  routerLink="/register" routerDirection="root">
      Register
    </ion-button>
    <ion-button  (click)="logout();">
      logout
    </ion-button>
  </div>
</ion-content>
